# Covid-19 Project: Data preparation (part 2A) <br>
Web Scraping - Population data (2020)

In [1]:
# Import packages

import pandas as pd
import requests
from bs4 import BeautifulSoup

In [2]:
# Make http request (connect to the website)
# Last access on 09.02.2021

url = "https://www.worldometers.info/world-population/population-by-country/"
r = requests.get(url)

In [3]:
# Get the website content (html)

soup = BeautifulSoup(r.content, "html.parser")

In [4]:
# Population data are available on the website as a table with id "example2"
# Find the "id" in the html request ("soup")

results = soup.find_all(id="example2")[0]

# Other option to get the data from the table
# results = soup.find_all("table")[0]

In [49]:
# print(results.prettify())

In [5]:
# Convert results into dataframe

df = pd.read_html(str(results))[0]
df.head()

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,2,India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,3,United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,4,Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,5,Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %

In [6]:
# Create a dataframe with country name and population

population = df[["Country (or dependency)", "Population (2020)"]]

In [7]:
population.head()

  Country (or dependency)  Population (2020)
0                   China         1439323776
1                   India         1380004385
2           United States          331002651
3               Indonesia          273523615
4                Pakistan          220892340

In [8]:
# Check on NaN values

population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country (or dependency)  235 non-null    object
 1   Population (2020)        235 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.8+ KB

In [9]:
# Prepare dataframe for further steps 

population.set_index("Country (or dependency)", inplace=True)
population.index.rename("Country", inplace=True)
population.sort_index(inplace=True)
population.head()

<ipython-input-9-4b052af8e5a5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population.sort_index(inplace=True)

                Population (2020)
Country
Afghanistan              38928346
Albania                   2877797
Algeria                  43851044
American Samoa              55191
Andorra                     77265

In [10]:
# Save "population" dataframe to csv-file

population.to_csv("C:/Users/Agnieszka/Downloads/Datasets/Covid_temp/population2020_scrap.csv")